* {
    margin: 0px;
    padding: 0px;
    font-family: 'DIN Next LT', sans-serif;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    user-select: none;
}
@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

:root {
    --qroui-base-color: #2d2d2d;
    --qroui-button-color: #1d1d1d;
    --qroui-button-hover-color: #3d3d3d;
    --qroui-button-active-color: #424242;
    --qroui-button-disabled-color: #303030;
    --qroui-base-text-color: #fff;
}

body {
    background-color: var(--qroui-base-color);
    color: var(--qroui-base-text-color);
}

header {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

#controls {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    app-region: drag;
}
.rightwing {
    margin-left: auto;
    order: 2;
}

#controls input, #controls li {
    app-region: no-drag;
}

button {
    background: var(--qroui-button-color);
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    min-width: 25px;
}

#sideButtons {
    float: left;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#sideButtons button {
    padding: 12px;
    background: none;
    font-size: 17px;
}

hr {
    border-color: var(--qroui-button-active-color);
    border-style: solid;
}

canvas {
    float: right;
    border-top: var(--qroui-button-hover-color) solid 1px;
    border-left: var(--qroui-button-hover-color) solid 1px;
}

.li {
    float: left;
}

.li a, .dropbtn {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.li a:hover, .dropdown:hover .dropbtn, button:hover {
    background-color: var(--qroui-button-hover-color) !important;
}

.li.dropdown {
    display: inline-block;
    cursor: pointer;
}

#results {
    right: 0px;
    margin-right: calc(135px);
    width: 20vw;
    margin-top: -7px;
    max-height: 75vh;
    overflow: auto;
}

.dropdown-content, #results {
    display: none;
    position: absolute;
    background-color: var(--qroui-button-hover-color);
    min-width: 160px;
    animation: fadedown 0.1s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown-content a, #results a {
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover, #results a:hover {
    background-color: var(--qroui-button-active-color) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul input {
    color: white;
    padding: 6.5px;
    margin: 6px;
    float: right;
    background-color: #202020;
    border: none;
    border-radius: 10px;
    min-width: 20vw;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(29, 29, 29, 0.67);
    top: 0px;
    display: flex;
    justify-content: center;
    place-items: center;
}

#loader div {
    padding: 30px;
    background: rgb(45, 45, 45);
    border: 1px solid rgb(61, 61, 61);
    color: rgb(109, 109, 109);
    min-width: 30vw;
    aspect-ratio: 16 / 9;
    position: relative;
    border-radius: 5px;
}

.qrocadIntro {
    width: 10vw;
    margin-bottom: 5px;
}

.qrodexlogo {
    bottom: 0px;
    position: absolute;
    display: block;
    margin-bottom: 30px;
    width: 5vw;
}

#activationProgress {
    font-family: boot;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 30px;
}

#introver {
    right: 0px;
    top: 0px;
    margin: 30px;
    position: absolute;
}

@font-face {
    font-family: boot;
    src: url("../assets/boot.ttf");
}

.system {
    font-size: 12px;
    height: 43px;
    aspect-ratio: 1 / 1;
    float: right;
}

.system a {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
    font-size: 9px;
    transition: all 0.1s ease 0s;
}

@media only screen and (max-width: 1000px) {
    #loader div {
        min-width: 40vw;
    }
}

input[type=checkbox] {
    min-width: 13px;
    margin: 0;
    margin-top: 3px;
    accent-color: var(--qroui-button-active-color);
    cursor: pointer;
}